*{
    margin: 0;
    padding: 0;
}

html ,
body{
    width: 100%;
    }



.header img{
    width: 30%;
    padding: 10px;
}

.header{
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
}


.header button{
    align-self: center;
}

.primaryInfo{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin:  1% 0;
    background-color: rgb(3, 27, 48);
    border-radius: 10px;
    color: white;
}

.center{
    text-align: center;
}

.info{
    align-self: center;
}

.teste{
    background-color: rgb(3, 27, 48);
    text-align: center;
    border-radius: 15px;
    padding: 10px;
    color: white;
}


.teste1{
    align-self: center;
    padding: 10px   ;
}

.nav-button{
    align-self: center;
}

ul  {
    display: flex;
}

ul li{
    padding: 10px;
    list-style: none;

}

.cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.planos{
    margin-top: 2%;
}

.dropdown{
    display: none;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000; /* Cor de fundo para a transição */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1; /* Inicialmente visível */
    transition: opacity 2s ease-out; /* Tempo da transição e curva de animação */
}

.preloader img {
    width: 50%;
    height: auto;
}

.fade-out {
    opacity: 0; /* Torna a div de preloader transparente */
}

@media only screen and (max-width: 999px) {
    .header img{
        width:50%;
     }

    .dropdown{
        display: block;
        align-self: center;
    }

    .nav-button{
        display: none;
    }

    .primaryInfo{
        display: block;
        margin: 10% auto;
    }

    ul{
        display: block;
    }   
    ul li a, ul li button{
        width: 90%;
    } 

    .header .btnlogin{
        display: none;
    }
  }

  @media only screen and (max-width: 560px) {
    .header img{
        width:70%;
     }
  }